[Unit]
Description=Updates the temperature display on my Jonsbo AIO.

[Timer]
# LCD seems to turn off if not updated for more than 2 seconds
OnUnitInactiveSec=1s
AccuracySec=1s

[Install]
WantedBy=timers.target
